.section-tasks {
  width: 100%;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-tasks {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #edeff0;
    
    button {
      filter: drop-shadow(0px 0px 50px rgb(230, 230, 230));
      display: flex;
      align-items: center;
      margin-top: 30px;
      cursor: pointer;
      padding: 12px 40px;
      color: rgb(0, 154, 196);
      font-weight: bold;
      border-radius: 30px;
      border: none;
      font-size: 1.5rem;
      font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
      border: 2px solid rgb(0, 154, 196);
      background-color: transparent;
      border: 2px solid rgb(0, 154, 196);
      
      .img-button-add {
        margin-right: 10px;
        width: 22px;
      }
      
      &:hover {
        transition: 1s;
        background-color: rgb(0, 154, 196);
        color: white;
      }
      
      &:hover .img-button-add {
        transition: 1s;
        filter: brightness(0) grayscale(1) invert(1);
      }

      &:active {
        transition: 0.1s;
        background-color: transparent;
        color: rgb(0, 154, 196);
      }

      &:active .img-button-add {
        transition: 0.1s;
        filter: none;
      }
    }

    p:nth-child(2) {
      margin-top: 20px;
      font-size: 1rem;
      color: gray;

      span {
        font-weight: bolder;
      }
    }
  }

  .field-tasks {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 450px;
    filter: drop-shadow(0px 0px 3px rgb(235, 235, 235));
  
    .header-tasks {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid rgb(229, 229, 229);
      background: white;  
    }
  
    .body-tasks {
      width: 100%;
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: scroll;
      z-index: 1;
      background: white;
  
      details {
        width: 100%;
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: rgb(157, 157, 157);
        z-index: 2;
        
        &[open] {
          transition: 1s;
          color: #333;
          
          summary {
            border-left: 6px solid #333;
            background: rgb(242, 242, 242);
          }
          
          .description-tasks {
            background: rgb(246, 246, 246);
          }
        }
        
        .concluded {
          border-left: 6px solid rgb(0 154 196);
          text-decoration: line-through;
        }
  
        summary {
          padding: 20px;
          min-height: 65px;
          width: 100%;
          background: rgba(245, 245, 245, 0.2);
          border: 1px solid rgb(229, 229, 229);
          border-top: none;
          border-left: 6px solid rgb(157, 157, 157);
  
          &:hover {
            transition: 1s;
            color: #333;
            background: linear-gradient(280deg, #f0f0f0, transparent);
            border: 1px solid #333;
            border-left: 6px solid #333;
          }
        }
  
        .description-tasks {
          min-height: 100px;
          display: flex;
          align-items: center;
          padding: 20px 30px;
          line-height: 20px;
          border: 1px solid rgb(229, 229, 229);
        }
      }
    }
  }

  > p {
    margin-top: 40px;
    font-size: 0.85rem;
    color: rgb(168, 168, 168);
    width: 55%;
    text-align: center;
  }
}
