.menu .position {
  .toggle-menu {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
  
    @media only screen and (max-width: 800px) {
      & {
        display: flex;
      }
    }
  
    .toggle-menu-item {
      width: 35px;
      height: 4px;
      background: var(--color-headings);
      transition: all 0.5s ease-in-out;
  
      &::before, &::after {
        content: "";
        position: absolute;
        width: 35px;
        height: 4px;
        background: var(--color-headings);
        transition: all 0.5s ease-in-out;
      }
      
      &::before {
        transform: translateY(-10px);
      }
      
      &::after {
        transform: translateY(10px);
      } 
    } 
  }
  
  .active .toggle-menu-item {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  
    &::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
  
    &::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  } 
}
