* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}
body #__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #__next section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-tasks {
  width: 100%;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-tasks .add-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid var(--color-border);
}
.section-tasks .add-tasks button {
  filter: drop-shadow(0px 0px 50px var(--color-drop-shadow));
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 40px;
  color: var(--color-primary);
  font-weight: bold;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  border: 2px solid var(--color-primary);
  background-color: transparent;
  border: 2px solid var(--color-primary);
}
.section-tasks .add-tasks button .img-button-add {
  margin-right: 10px;
  width: 22px;
}
.section-tasks .add-tasks button:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: white;
}
.section-tasks .add-tasks button:hover .img-button-add {
  transition: 1s;
  filter: brightness(0) grayscale(1) invert(1);
}
.section-tasks .add-tasks button:active {
  transition: 0.1s;
  background-color: transparent;
  color: var(--color-primary);
}
.section-tasks .add-tasks button:active .img-button-add {
  transition: 0.1s;
  filter: none;
}
.section-tasks .add-tasks p:nth-child(2) {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--color-text);
}
.section-tasks .add-tasks p:nth-child(2) span {
  font-weight: bolder;
}
.section-tasks .add-tasks p:nth-child(3) {
  width: 23%;
  margin-top: 10px;
  font-size: 0.8rem;
  color: var(--color-text);
  opacity: 45%;
  text-align: center;
}
.section-tasks .field-tasks {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  height: 450px;
  filter: drop-shadow(0px 0px 3px var(--color-drop-shadow));
}
.section-tasks .field-tasks .header-tasks {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid var(--color-border);
  background: var(--bg-panel);
}
.section-tasks .field-tasks .body-tasks {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  z-index: 1;
  background-color: var(--bg-panel);
}
.section-tasks .field-tasks .body-tasks details {
  width: 100%;
  background-color: var(--bg-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-text);
  z-index: 2;
}
.section-tasks .field-tasks .body-tasks details[open] {
  transition: 1s;
  color: var(--color-tasks);
}
.section-tasks .field-tasks .body-tasks details[open] summary {
  border-left: 6px solid var(--color-tasks);
  background: var(--bg-tasks-title);
}
.section-tasks .field-tasks .body-tasks details[open] .description-tasks {
  background: var(--bg-tasks);
}
.section-tasks .field-tasks .body-tasks details #completed {
  border-left: 6px solid var(--color-primary);
  text-decoration: line-through;
}
.section-tasks .field-tasks .body-tasks details #completed input[type=image]:nth-child(1) {
  opacity: 100%;
}
.section-tasks .field-tasks .body-tasks details summary {
  padding: 20px;
  min-height: 65px;
  width: 100%;
  background: var(--color-summary-tasks);
  border: 1px solid var(--color-border);
  border-top: none;
  border-left: 6px solid rgb(157, 157, 157);
  position: relative;
}
.section-tasks .field-tasks .body-tasks details summary input[type=image] {
  width: 30px;
  cursor: pointer;
  margin: -15px;
  opacity: 50%;
  position: absolute;
}
.section-tasks .field-tasks .body-tasks details summary input[type=image]:nth-child(1) {
  top: 50%;
  right: 70px;
}
.section-tasks .field-tasks .body-tasks details summary input[type=image]:nth-child(2) {
  top: 50%;
  right: 30px;
  opacity: 50%;
}
.section-tasks .field-tasks .body-tasks details summary input[type=image]:hover {
  opacity: 100%;
}
.section-tasks .field-tasks .body-tasks details summary:hover {
  transition: 1s;
  color: var(--color-tasks);
  background: linear-gradient(280deg, var(--color-gradient-primary), var(--color-gradient-secondary));
  border: 1px solid var(--color-tasks);
  border-left: 6px solid var(--color-tasks);
}
.section-tasks .field-tasks .body-tasks details .description-tasks {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  line-height: 20px;
  border: 1px solid var(--color-border);
}
.section-tasks > p {
  margin-top: 40px;
  font-size: 0.85rem;
  color: var(--color-text);
  opacity: 60%;
  width: 55%;
  text-align: center;
}

.home-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  width: 100%;
}
.home-tasks > h1 {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  text-align: center;
  color: var(--color-headings);
  font-size: 4rem;
  line-height: 70px;
}
.home-tasks > span {
  text-align: center;
  color: var(--color-headings);
  font-size: 2.8rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 50px;
  width: 500px;
  font-weight: normal;
  margin-bottom: 50px;
}
.home-tasks img {
  filter: drop-shadow(10px 8px 8px var(--color-drop-shadow));
}
.home-tasks .add-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  height: 250px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}
.home-tasks .add-tasks button {
  filter: drop-shadow(0px 0px 50px var(--color-drop-shadow));
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 40px;
  color: var(--color-primary);
  font-weight: bold;
  border-radius: 30px;
  border: none;
  font-size: 1.5rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  border: 2px solid var(--color-primary);
  background-color: transparent;
}
.home-tasks .add-tasks button .img-button-add {
  margin-right: 10px;
  width: 22px;
}
.home-tasks .add-tasks button:hover {
  transition: 1s;
  background-color: var(--color-primary);
  color: white;
}
.home-tasks .add-tasks button:hover .img-button-add {
  transition: 1s;
  filter: brightness(0) grayscale(1) invert(1);
}
.home-tasks .add-tasks button:active {
  transition: 0.1s;
  background-color: transparent;
  color: var(--color-primary);
}
.home-tasks .add-tasks button:active .img-button-add {
  transition: 0.1s;
  filter: none;
}
.home-tasks .add-tasks p:nth-child(2) {
  margin-top: 20px;
  font-size: 1rem;
  color: var(--color-text);
}
.home-tasks .add-tasks p:nth-child(2) span {
  font-weight: bolder;
}
.home-tasks .add-tasks p:nth-child(3) {
  width: 23%;
  margin-top: 10px;
  font-size: 0.6rem;
  color: var(--color-text);
  opacity: 45%;
  text-align: center;
}
.home-tasks .add-tasks p:nth-child(3) span {
  font-weight: bolder;
}

.menu {
  width: 100%;
  height: 70px;
  background: var(--bg-panel);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 2px var(--color-border));
  border-bottom: 1px solid var(--color-border);
}
.menu .position {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.menu .position img {
  filter: drop-shadow(2px 4px 6px var(--color-drop-shadow));
}
.menu .position hr {
  background: var(--color-border);
  width: 1px;
  height: 45px;
  margin: 0 10px 0 20px;
  border: none;
  border-radius: 15px;
}
.menu .position > div {
  display: flex;
  align-items: center;
}
.menu .position > div a {
  text-decoration: none;
}
.menu .position > div a:nth-child(1), .menu .position > div a:nth-child(2) {
  font-size: 1rem;
  color: var(--color-text);
}
.menu .position > div a:nth-child(1):hover, .menu .position > div a:nth-child(2):hover {
  transition: 1s;
  color: var(--color-primary);
}
.menu .position > div a:nth-child(2) {
  margin-right: 35px;
  margin-left: 40px;
}
.menu .position > div a:nth-child(3) {
  padding: 12px 30px;
  border-radius: 25px;
  background-color: var(--bg-panel-third);
  font-size: 17px;
  color: var(--color-headings);
  opacity: 90%;
}
.menu .position > div a:nth-child(3):hover {
  transition: 1s;
  background-color: var(--bg-panel-hover);
  opacity: 100%;
}
.menu .position > div a:nth-child(3):active {
  transition: 0.1s;
  background-color: var(--bg-panel-hover);
  opacity: 30%;
}
.menu .position .btns-login > input[type=image] {
  width: 40px;
  opacity: 40%;
  margin-right: 20px;
  border-radius: 5px;
  padding: 5px;
}
.menu .position .btns-login > input[type=image]:hover {
  transition: 1s;
  opacity: 60%;
  background: rgba(128, 128, 128, 0.1);
}
.menu .position .btns-login > input[type=image]:active {
  transition: 0.1s;
  opacity: 20%;
}

.btn-theme {
  margin-left: 5px;
  width: 40px;
  padding: 7px;
  border-radius: 5px;
  filter: drop-shadow(2px 4px 6px var(--color-drop-shadow));
  opacity: 60%;
}
.btn-theme:hover {
  transition: 1s;
  background: rgba(128, 128, 128, 0.1);
}

footer {
  width: 100%;
  background-color: var(--bg-panel-secondary);
}
footer > div:nth-child(1) {
  height: 420px;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: flex-start;
}
footer > div:nth-child(1) .position {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-top: 80px;
  margin-left: 10%;
  position: relative;
}
footer > div:nth-child(1) .position h1 {
  font-weight: normal;
  color: var(--color-secondary);
  font-size: 1.5rem;
  margin-bottom: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
footer > div:nth-child(1) .position > div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
footer > div:nth-child(1) .position > div a {
  text-decoration: none;
  margin-bottom: 30px;
  color: var(--color-text);
  font-size: 1.1rem;
}
footer > div:nth-child(1) .position > div a:hover {
  transition: 1s;
  text-decoration: underline;
  color: var(--color-headings);
}
footer > div:nth-child(1) .position > div a:active {
  transition: 0.1s;
  opacity: 20%;
}
footer > div:nth-child(2) {
  width: 100%;
  height: 250px;
  background: url(https://i.postimg.cc/ZR5fkWmN/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer > div:nth-child(2) > div:nth-child(1) {
  display: flex;
}
footer > div:nth-child(2) > div:nth-child(1) a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  opacity: 70%;
  cursor: pointer;
}
footer > div:nth-child(2) > div:nth-child(1) a:hover {
  transition: 1s;
  text-decoration: underline;
  opacity: 100;
}
footer > div:nth-child(2) > div:nth-child(1) a:active {
  transition: 0.1s;
  opacity: 20%;
}
footer > div:nth-child(2) > div:nth-child(1) a:nth-child(2) {
  margin-left: 30px;
}
footer > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 30px 0;
}
footer > div:nth-child(2) > div:nth-child(2) img {
  width: 35px;
  cursor: pointer;
  opacity: 70%;
}
footer > div:nth-child(2) > div:nth-child(2) img:hover {
  transition: 1s;
  opacity: 100;
}
footer > div:nth-child(2) > div:nth-child(2) img:active {
  transition: 0.1s;
  opacity: 20%;
}
footer > div:nth-child(2) p {
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  opacity: 70%;
}
footer > div:nth-child(2) p span {
  font-weight: bolder;
}

.field-speaks {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--color-border);
}
.field-speaks .position {
  width: 55%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.field-speaks .position h1 {
  font-size: 2.5rem;
  color: var(--color-headings);
  text-align: center;
  line-height: 55px;
  width: 80%;
  margin: 0 auto;
}
.field-speaks .position h1 span {
  font-weight: normal;
  font-size: 2rem;
}

.field-info {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.field-info .position {
  width: 55%;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: var(--color-text);
  font-size: 1.15rem;
  line-height: 30px;
}
.field-info .position > span {
  font-size: 2rem;
  color: var(--color-headings);
}
.field-info .position p {
  margin-bottom: 10px;
  opacity: 80%;
}
.field-info .position p > span {
  font-weight: bold;
  font-size: 1.3rem;
}
.field-info .position p:nth-child(4) {
  margin-bottom: 10px;
}
.field-info .position > div {
  display: flex;
}
.field-info .position .field {
  display: flex;
  margin-top: 30px;
  width: 50%;
}
.field-info .position .field:nth-child(3) {
  margin-bottom: 40px;
}
.field-info .position .field img {
  width: 55px;
  height: 55px;
}
.field-info .position .field:nth-child(3) {
  width: 100%;
}
.field-info .position .field:nth-child(3) > div {
  width: 70%;
}
.field-info .position .field > div {
  margin-left: 20px;
  width: 70%;
}
.field-info .position .field > div h1 {
  font-size: 1.4rem;
  color: var(--color-headings);
  margin-bottom: 5px;
}
.field-info .position .field > div p {
  font-size: 1.1rem;
  color: var(--color-text);
  opacity: 50%;
  line-height: 25px;
}
.field-info .position .field > div p > span {
  font-weight: bold;
  font-size: 1.1rem;
}

.not-found {
  width: 100%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.not-found h1 {
  font-size: 4rem;
  color: var(--color-primary);
}
.not-found span {
  font-size: 2rem;
  color: var(--color-headings);
  margin-top: 30px;
}
.not-found span span {
  font-weight: bolder;
  font-size: 2.1rem;
}
.not-found button {
  width: 300px;
  padding: 12px 30px;
  border-radius: 10px;
  margin-top: 20px;
  background: var(--color-primary);
  cursor: pointer;
  color: var(--color);
  font-size: 1rem;
  font-weight: bolder;
  border: 3px solid var(--color-primary);
  margin-bottom: 15vh;
}
.not-found button:hover {
  transition: 1s;
  background: transparent;
  color: var(--color-primary);
}
.not-found button:active {
  transition: 0.1s;
  background: var(--color-primary);
  color: var(--color);
}

dialog {
  left: 50%;
  top: 40%;
  margin: -175px -300px;
  width: 600px;
  height: 350px;
  background: var(--bg-panel);
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  position: relative;
}
dialog .position {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
dialog .position form {
  width: 85%;
}
dialog .position form #btn-close {
  width: 35px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  opacity: 60%;
  border-radius: 7px;
}
dialog .position form #btn-close:hover {
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 100%;
}
dialog .position form #btn-close:active {
  transition: 0.1s;
  opacity: 20%;
}
dialog .position form h1 {
  font-size: 1.8rem;
  color: var(--color-headings);
  font-weight: normal;
  margin-bottom: 55px;
}
dialog .position form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}
dialog .position form > div label {
  position: absolute;
  top: 0;
  font-size: 1.05rem;
  color: var(--color-text);
}
dialog .position form > div input {
  border: none;
  border-bottom: 2px solid var(--color-text);
  padding: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-panel);
  color: var(--color-headings);
}
dialog .position form > div input + label {
  transform: translateY(-20px);
  font-size: 0.9rem;
}
dialog .position form > div input:-moz-placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
dialog .position form > div input:-ms-input-placeholder + label {
  transform: translateY(0);
  font-size: 1rem;
}
dialog .position form > div input:placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
dialog .position form > div input::-moz-placeholder {
  visibility: hidden;
}
dialog .position form > div input:-ms-input-placeholder {
  visibility: hidden;
}
dialog .position form > div input::placeholder {
  visibility: hidden;
}
dialog .position form > div input:focus {
  transition: 1s;
  border-bottom: 2px solid var(--color-primary);
}
dialog .position form > div input:focus + label {
  transition: 0.5s;
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--color-primary);
}
dialog .position form input[type=submit] {
  width: 100%;
  background-color: var(--color-primary);
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  color: var(--color);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 1px;
}
dialog .position form input[type=submit]:hover {
  transition: 1s;
  background-color: transparent;
  color: var(--color-primary);
}
dialog .position form input[type=submit]:active {
  transition: 0.1s;
  background-color: var(--color-primary);
  color: var(--color);
}
dialog::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.6);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

.form-login {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-login form {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.form-login form img {
  filter: drop-shadow(10px 8px 8px var(--color-drop-shadow));
}
.form-login form h1 {
  font-size: 2rem;
  color: var(--color-headings);
  font-weight: normal;
  margin-top: 20px;
}
.form-login form h1 span {
  font-weight: bolder;
  font-size: 2.2rem;
}
.form-login form > p {
  color: var(--color-text);
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 1rem;
}
.form-login form > p a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bolder;
  font-size: 1.1rem;
}
.form-login form > p a:hover {
  transition: 1s;
  opacity: 50%;
  text-decoration: underline;
}
.form-login form > p a:active {
  transition: 0.1s;
  opacity: 100%;
  text-decoration: none;
}
.form-login form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}
.form-login form > div:nth-child(4) {
  margin-bottom: 45px;
}
.form-login form > div label {
  position: absolute;
  top: 0;
  font-size: 1.05rem;
  color: var(--color-text);
}
.form-login form > div input {
  border: none;
  border-bottom: 2px solid var(--color-text);
  padding: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--color-headings);
}
.form-login form > div input + label {
  transform: translateY(-20px);
  font-size: 0.9rem;
}
.form-login form > div input:-moz-placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-login form > div input:-ms-input-placeholder + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-login form > div input:placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-login form > div input::-moz-placeholder {
  visibility: hidden;
}
.form-login form > div input:-ms-input-placeholder {
  visibility: hidden;
}
.form-login form > div input::placeholder {
  visibility: hidden;
}
.form-login form > div input:focus {
  transition: 1s;
  border-bottom: 2px solid var(--color-primary);
}
.form-login form > div input:focus + label {
  transition: 0.5s;
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--color-primary);
}
.form-login form > div img {
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 70%;
}
.form-login form > div img:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.1);
}
.form-login form > a {
  margin-top: 25px;
  margin-bottom: 40px;
  text-decoration: none;
  width: 100%;
  text-align: left;
  color: var(--color-text);
  font-size: 0.9rem;
}
.form-login form > a:hover {
  transition: 1s;
  color: var(--color-primary);
}
.form-login form input[type=submit] {
  width: 100%;
  background-color: var(--color-primary);
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  color: var(--color);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form-login form input[type=submit]:hover {
  transition: 1s;
  background-color: transparent;
  color: var(--color-primary);
}
.form-login form input[type=submit]:active {
  transition: 0.1s;
  background-color: var(--color-primary);
  color: var(--color);
}

.form-register {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form-register form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.form-register form img {
  filter: drop-shadow(10px 8px 8px var(--color-drop-shadow));
}
.form-register form h1 {
  font-size: 2rem;
  color: var(--color-headings);
  font-weight: normal;
  margin-top: 20px;
}
.form-register form h1 span {
  font-weight: bolder;
  font-size: 2.2rem;
}
.form-register form > p {
  color: var(--color-text);
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 1rem;
}
.form-register form > p a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bolder;
  font-size: 1.1rem;
}
.form-register form > p a:hover {
  transition: 1s;
  opacity: 50%;
  text-decoration: underline;
}
.form-register form > p a:active {
  transition: 0.1s;
  opacity: 100%;
  text-decoration: none;
}
.form-register form > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-register form > div .container-input {
  width: 48%;
}
.form-register form .container-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}
.form-register form .container-input label {
  position: absolute;
  top: 0;
  font-size: 1.05rem;
  color: var(--color-text);
}
.form-register form .container-input input {
  border: none;
  border-bottom: 2px solid var(--color-text);
  padding: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--color-headings);
}
.form-register form .container-input input + label {
  transform: translateY(-20px);
  font-size: 0.9rem;
}
.form-register form .container-input input:-moz-placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-register form .container-input input:-ms-input-placeholder + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-register form .container-input input:placeholder-shown + label {
  transform: translateY(0);
  font-size: 1rem;
}
.form-register form .container-input input::-moz-placeholder {
  visibility: hidden;
}
.form-register form .container-input input:-ms-input-placeholder {
  visibility: hidden;
}
.form-register form .container-input input::placeholder {
  visibility: hidden;
}
.form-register form .container-input input:focus {
  transition: 1s;
  border-bottom: 2px solid var(--color-primary);
}
.form-register form .container-input input:focus + label {
  transition: 0.5s;
  transform: translateY(-20px);
  font-size: 0.9rem;
  color: var(--color-primary);
}
.form-register form .container-input img {
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  opacity: 70%;
}
.form-register form .container-input img:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.1);
}
.form-register form input[type=submit] {
  width: 100%;
  background-color: var(--color-primary);
  padding: 10px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  color: var(--color);
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form-register form input[type=submit]:hover {
  transition: 1s;
  background-color: transparent;
  color: var(--color-primary);
}
.form-register form input[type=submit]:active {
  transition: 0.1s;
  background-color: var(--color-primary);
  color: var(--color);
}/*# sourceMappingURL=globals.css.map */